# Online Cloud Deployment Environment Configuration Example
PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://deepak:deepak@cluster0.jhgygnd.mongodb.net/tea-chat-app?retryWrites=true&w=majority&tlsAllowInvalidCertificates=true
JWT_SECRET=supersecretjwtsigningkey12345!
